a {	
	text-decoration:none;
	border-radius:10px;
	background:#dcdcdc;
	margin:5px;
	padding:5px;
	display: block;
	width: 205px;
	text-align: center;
}a:hover{
	background-color: orange;
}nav ul{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}nav li{
	list-style-type: none;
	float: left;
}

